{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a href="{{url_for('showPlaylist')}}" class="nav-item">Home</a>
    {% if 'user_id' not in session %}
    <a href="{{url_for('showLogin')}}" class="nav-item">Login</a>
    {% else %}
    <a href="{{url_for('disconnect')}}" class="nav-item">Logout</a>
    {% endif %}
  </div>
</nav>

<article id="pagination">
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Add a New Song</h1>
        <a href="{{url_for('showPlaylist')}}">
          <h2 class="subtitle">Go back</h2>
        </a>
      </div>
    </div>
  </section>
</article>

<section class="hero level-item is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-6 is-offest-3">
          <h1 class="title"></h1>
          <div class="box">
            <form action="#" method="post">
              <div class="form-group">
                <label for="track_name">
                  <input type="text" class="input" maxlength="100" name="track_name" placeholder="Song Title">
                </label>
                <label for="artist_name">
                  <input type="text" class="input" maxlength="100" name="artist_name" placeholder="Artist">
                </label>
                <label for="album_name">
                  <input type="text" class="input" maxlength="100" name="album_name" placeholder="Album">
                </label>
                <div class="padding-bottom"></div>
              </div>

              <button class="button" id="submit" type="submit">
                <span>Add Song</span>
              </button>
              <a href="{{url_for('showSongs', playlist_id = playlist_id)}}" class="button">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-md-6 col-md-offset-1 padding-top">
    
  </div>
</div>
{% include "footer.html" %}
{% endblock %}